# Environment & secrets
.env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Virtual environment
venv/
env/
.venv/

# Uploaded files & generated reports
uploads/
reports/
*.mp3

# Database
database/*.db

# OS files
.DS_Store
Thumbs.db

# Streamlit
.streamlit/secrets.toml
